#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
    display: flex;
}


#bovenkant{
    width: 900px;
    height: 600px;
    background-color: red;
}

#midden{
    width: 900px;
    height: 600px;
    background-color: white;
}

#onderkant{
    width: 900px;
    height: 600px;
    background-color: blue;
}