#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: black; 
}


#bovenkant{
    width: 900px;
    height: 300px;
    background-color: yellow;
}

#midden{
    width: 900px;
    height: 150px;
    background-color: blue;
}

#onderkant{
    width: 900px;
    height: 150px;
    background-color: red;
}